<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="blue lighten-2">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo center-align">BLOG TITLE</a>

            <% if user_signed_in? %>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
                <li><a href="/articles/new">投稿する</a></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users/sign_in">ログイン</a></li>
                <li><a href="/users/sign_up">新規登録</a></li>
              </ul>
            <% end %>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="page-footer blue lighten-2">
      <div class="center-align">
        © 2018 BLOG APP Copyright.
      </div>
    </footer>

    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
